src/main/resources/ringingmaster.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rm="http://www.ringingmaster.org.uk/persist/v1"
           targetNamespace="http://www.ringingmaster.org.uk/persist/v1">

    <xs:annotation>
        <xs:documentation>
            Ringing Master document definition
        </xs:documentation>
    </xs:annotation>

    <!-- Global elements !-->
    <xs:element name="notationLibrary" type="rm:notationLibraryPersist"/>
    <xs:element name="composition" type="rm:compositionPersist"/>

    <!-- Types !-->

    <xs:complexType name="notationKeyPersist">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="numberOfWorkingBells" type="rm:numberOfBellsPersist" use="required"/>
    </xs:complexType>

    <xs:complexType name="baseNotationPersist" abstract="true">
        <xs:complexContent>
            <xs:extension base="rm:notationKeyPersist">
                <xs:attribute name="notation" type="xs:string" use="required"/>
                <xs:attribute name="notation2" type="xs:string"/>
                <xs:attribute name="foldedPalindrome" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="libraryNotationPersist">
        <xs:complexContent>
            <xs:extension base="rm:baseNotationPersist">
                <xs:attribute name="leadHead" type="xs:string"/>
                <xs:attribute name="leadLength" type="xs:int" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="numberOfBellsPersist">
        <xs:restriction base="xs:int">
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bellsPersist">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="notationLibraryPersist">
        <xs:sequence>
            <xs:element name="documentVersion" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="notation" type="rm:libraryNotationPersist" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="libraryUsage" type="rm:libraryUsagePersist" use="required"/>
        <xs:attribute name="notes" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="libraryUsagePersist">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CC_LIBRARY"/>
            <xs:enumeration value="USER_LIBRARY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="compositionPersist">
        <xs:sequence>
            <xs:element name="documentVersion" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="numberOfBells" type="rm:numberOfBellsPersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="compositionType" type="rm:compositionTypePersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="spliced" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="callFrom" type="rm:bellsPersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="notation" type="rm:compositionNotationPersist" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="nonSplicedActiveNotation" type="rm:notationKeyPersist" minOccurs="0" maxOccurs="1"/>
            <xs:element name="plainLeadToken" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="compositionTable" type="rm:cellsTablePersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="definitionTable" type="rm:cellsTablePersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="startChange" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="startRow" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="startStroke" type="rm:strokePersist" minOccurs="1" maxOccurs="1"/>
            <xs:element name="startNotation" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminationChange" type="rm:terminationChangePersist" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminationMaxRows" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="terminationMaxLeads" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminationMaxParts" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminationMaxPartCircularity" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="compositionNotationPersist">
        <xs:complexContent>
            <xs:extension base="rm:baseNotationPersist">
                <xs:sequence>
                    <xs:element name="calls" type="rm:callsPersist"/>
                    <xs:element name="callInitiationRow" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="callingPosition" type="rm:callingPositionPersist" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="leadLines" type="rm:leadLinesPersist"/>
                </xs:sequence>
                <xs:attribute name="splicedIdentifier" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="leadLinesPersist">
        <xs:sequence>
            <xs:element name="leadLine" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>

        <xs:attribute name="useCannedLeadLines" type="xs:boolean" default="true"/>
    </xs:complexType>

    <xs:complexType name="callsPersist">
        <xs:sequence>
            <xs:element name="call" type="rm:callPersist" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>

        <xs:attribute name="useCannedCalls" type="xs:boolean" default="true"/>
    </xs:complexType>

    <xs:complexType name="callPersist">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="shorthand" type="xs:string" use="required"/>
        <xs:attribute name="notation" type="xs:string" use="required"/>
        <xs:attribute name="default" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="callingPositionPersist">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="callInitiationRow" type="xs:int" use="required"/>
        <xs:attribute name="leadOfTenor" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:simpleType name="compositionTypePersist">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COURSE_BASED"/>
            <xs:enumeration value="LEAD_BASED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="strokePersist">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BACKSTROKE"/>
            <xs:enumeration value="HANDSTROKE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="terminationChangePersist">
        <xs:attribute name="change" type="xs:string" use="required"/>
        <xs:attribute name="location" type="rm:terminationChangeLocationPersist" use="required"/>
    </xs:complexType>


    <xs:simpleType name="terminationChangeLocationPersist">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANYWHERE"/>
            <xs:enumeration value="LEAD_END"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="cellsTablePersist">
        <xs:sequence>
            <xs:element name="cells" type="rm:cellTablePersist" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cellTablePersist">
        <xs:attribute name="row" type="xs:int" use="required"/>
        <xs:attribute name="column" type="xs:int" use="required"/>
        <xs:attribute name="characters" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>

